<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd   
    http://www.springframework.org/schema/aop    
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
        <!-- 创建工作类 start-->
        
        <!-- 定时处理mq -->
        <bean id="autoSendMeetNoticTOEmail" class="com.kd.core.quartz.AutoSendMeetNoticTOEmail"/>
		<bean id="autoUpdateOrderStatus" class="com.kd.core.quartz.AutoUpdateOrderStatus"/>
	 	<!-- end -->   
		
		 <!-- 再一次发送 未发送charge的记录   start   -->
      	<bean id="sendEmail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <property name="targetObject">
                <ref bean="autoSendMeetNoticTOEmail"/>
            </property>
            <property name="targetMethod">
                <value>autoSendEmail</value>
            </property>
        </bean>
		<bean id="updateOrderStatus" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
			<property name="targetObject">
				<ref bean="autoUpdateOrderStatus"/>
			</property>
			<property name="targetMethod">
				<value>updateOrderStatus</value>
			</property>
		</bean>
        
        <!-- 定义触发时间 -->
        <bean id="autoSendTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
            <property name="jobDetail">
                <ref bean="sendEmail"/>
            </property>
            <property name="cronExpression">            
                 <value>*/15 * * * * ?</value>
            </property>
        </bean>
		<bean id="autoUpdateTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
			<property name="jobDetail">
				<ref bean="updateOrderStatus"/>
			</property>
			<property name="cronExpression">
				<value>0 0/1 * * * ? </value>
			</property>
		</bean>
        <!-- end -->
        

        <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
        <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
            <property name="triggers">
                <list>
                 	<ref bean="autoSendTime"/>
					<ref bean="autoUpdateTime"/>
                </list>
            </property>
        </bean>
</beans>
    


